---

---

<footer class="bg-slate-800 text-gray-100">
  <div class="py-15 mx-auto max-w-5xl px-5 pb-20 pt-10">
    <ul class="flex justify-center gap-8 [&_a:hover]:underline">
      <li><a href="#">サイトポリシー</a></li>
      <li><a href="#">このサイトについて</a></li>
      <li><a href="#">コンタクト</a></li>
    </ul>
    <div class="flex justify-center py-10">
      <small class="italic text-gray-400">" isekaijoucho is ubiquitous. "</small>
    </div>
  </div>
</footer>
