---

---

<header class="mb-10 border-b-2 border-gray-300 shadow-lg">
  <div class="mx-auto max-w-5xl px-2">
    <a class="inline-flex items-center gap-3 py-3 text-2xl text-gray-600" href="/">
      <span class="inline-block h-12 w-12 rounded-full bg-blue-400"></span>
      ヰ世界情緒ボタン
    </a>
  </div>
</header>
