---

---

<aside
  class="mt-20 flex flex-col items-center justify-center gap-5 rounded-md border border-gray-300 p-5 shadow-md md:flex-row"
>
  <div>
    <figure class="flex flex-col items-center gap-2">
      <img
        class="rounded-full"
        src="https://pbs.twimg.com/profile_images/1778056393989427200/mGcSsWL6_400x400.jpg"
        width="200"
        height="200"
        alt=""
      />
      <figcaption class="text-center font-sans font-bold text-sky-600">ヰ世界情緒 /<br />isekaijoucho</figcaption>
    </figure>
    <div class="pt-4">
      <p class="break-words break-keep">
        自らの歌と<wbr />創作で<wbr />世界を<wbr />表現することを<wbr />夢見る、<wbr />バーチャルダークシンガー。<br />
        力強く儚い歌声で、<wbr />“ヰ世界情緒”<wbr />というキャンバス<wbr />の上に闇と光、<wbr />新しい物語を紡ぐ。
      </p>
      <p class="break-words break-keep">
        シンガーとして<wbr />だけでなく、<wbr />イラスト、<wbr />ナレーション、<wbr />声優など<wbr />様々な方面で<wbr
        />自らの表現をおこない、<wbr />作品を創り出す、<wbr />唯一無二のクリエイター。
      </p>
    </div>
  </div>
  <div class="h-[600px] w-[500px] max-w-full flex-shrink-0">
    <a
      class="twitter-timeline"
      data-lang="ja"
      data-width="500"
      data-height="600"
      href="https://twitter.com/isekaijoucho?ref_src=twsrc%5Etfw"
    >
      Tweets by isekaijoucho
    </a>
    <script is:inline async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</aside>
