---
import { FaBrandsTwitter } from 'solid-icons/fa';
import { FaBrandsYoutube } from 'solid-icons/fa';
import { FaBrandsTiktok } from 'solid-icons/fa';
import { JTimeLine } from './JTimeLine';
---

<aside
  class="mt-20 flex flex-col items-center justify-center gap-5 rounded-md border border-gray-300 p-5 shadow-md md:flex-row"
>
  <div>
    <figure class="flex flex-col items-center gap-2">
      <img
        class="rounded-full"
        src="https://pbs.twimg.com/profile_images/1778056393989427200/mGcSsWL6_400x400.jpg"
        width="200"
        height="200"
        alt=""
      />
      <figcaption class="text-center font-sans font-bold text-sky-600">ヰ世界情緒 /<br />isekaijoucho</figcaption>
    </figure>
    <ul class="flex items-center justify-center gap-2 p-5">
      <li>
        <a href="https://www.youtube.com/channel/UCah4_WVjmr8XA7i5aigwV-Q" target="_blank" rel="noopener noreferrer">
          <FaBrandsYoutube size={32} color="#FF0000" title="YouTube" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/isekaijoucho" target="_blank" rel="noopener noreferrer">
          <FaBrandsTwitter size={32} color="#1d9bf0" title="twitter" />
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@isekaijoucho" target="_blank" rel="noopener noreferrer">
          <FaBrandsTiktok size={26} color="#000000" title="TikTok" />
        </a>
      </li>
    </ul>
    <div class="pt-4">
      <p class="break-words break-keep">
        自らの歌と<wbr />創作で<wbr />世界を<wbr />表現することを<wbr />夢見る、<wbr />バーチャルダークシンガー。<br />
        力強く儚い歌声で、<wbr />“ヰ世界情緒”<wbr />というキャンバス<wbr />の上に闇と光、<wbr />新しい物語を紡ぐ。
      </p>
      <p class="break-words break-keep">
        シンガーとして<wbr />だけでなく、<wbr />イラスト、<wbr />ナレーション、<wbr />声優など<wbr />様々な方面で<wbr
        />自らの表現をおこない、<wbr />作品を創り出す、<wbr />唯一無二のクリエイター。
      </p>
    </div>
  </div>
  <JTimeLine client:visible />
</aside>
