---
import type { CollectionEntry } from 'astro:content';

interface Props {
  tagList: CollectionEntry<'tag'>[];
  ver: 'top' | 'voice';
}
const { tagList, ver } = Astro.props;
const currentPath = Astro.url.pathname;
---

<ul class="flex flex-wrap gap-1">
  {
    ver === 'top' && (
      <li>
        <a class:list={['tag', { current: currentPath === '/' }]} href="/">
          全て
        </a>
      </li>
    )
  }
  {
    tagList.map((tag) => (
      <li>
        <a class:list={['tag', { current: currentPath === `/tag/${tag.id}/` }]} href={`/tag/${tag.id}/`}>
          {tag.data.title}
        </a>
      </li>
    ))
  }
</ul>

<style>
  .tag {
    display: inline-block;
    border-radius: 1rem;
    border: 1px solid #888;
    padding: 0.25rem 1rem;
  }
  .current {
    background-color: #333;
    color: #eee;
  }
</style>
