---
import Image from 'astro/components/Image.astro';
import banner from '@assets/img/channels_banner.jpg';
import bannerSub from '@assets/img/channels_banner_sub.jpg';
---

<div class="splide mb-10" aria-label="Youtubeチャンネル">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <a href="https://www.youtube.com/@isekaijoucho" target="_blank" rel="noopener noreferrer">
          <Image class="banner" src={banner} alt="ヰ世界情緒 -Isekaijoucho- YouTubeチャンネル" loading="eager" />
        </a>
      </li>
      <li class="splide__slide">
        <a href="https://www.youtube.com/@isekaijoucho_sub" target="_blank" rel="noopener noreferrer">
          <Image class="banner" src={bannerSub} alt="ヰ世界情緒 -ヰ世界電子通信部- YouTubeチャンネル" loading="eager" />
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  import '@splidejs/splide/css/skyblue';
  import Splide from '@splidejs/splide';

  new Splide('.splide', { type: 'loop' }).mount();
</script>

<style>
  .banner {
    margin-left: -20%;
    clip-path: inset(0 20% 0 20%);
    max-width: 140%;
  }
</style>
