---
import { Image } from 'astro:assets';
import logoImage from '@assets/img/logo.svg';
import { SITE_NAME } from '@lib/constants';
---

<header class="border-b-2 border-gray-300 shadow-lg">
  <div class="mx-auto max-w-5xl px-2 py-3">
    <a class="inline-block" href="/">
      <Image src={logoImage} alt={SITE_NAME} loading="eager" />
    </a>
  </div>
</header>
